.myimage {
    background-color: grey;
}

.intro {
    width: 50%;
    margin: auto;
}

h2 {
    margin: auto;
}

.skill {
    width: 20%;
    margin-left: 10;
    margin-right: 10;
    border: solid;
    border-color: grey;
    border-width: 1px;
}

div {
    display: block;
}

.skilltree {
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: center;
}

body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}